* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: rgb(247, 103, 103);
    font-family: 'Courier New', Courier, monospace;

}

nav {

    font-size: 80px;
    text-align: center;


}

#right {
    font-size: 350px;
    width: 400px;
    height: 400px;
    background-color: rgb(248, 117, 117);

}

#left {
    font-size: 350px;
    width: 400px;
    height: 400px;
    background-color: rgb(247, 93, 93);
}

#sayac {
    margin: auto;
    height: 500px;
    width: 900px;
    display: flex;
    justify-content: space-between;
}